alembic==1.13.1
annotated-types==0.6.0
apache-beam==2.55.1
astunparse==1.6.3
chardet==5.2.0
cloudpickle==2.2.1
colorlog==6.8.2
contourpy==1.2.1
crcmod==1.7
cycler==0.12.1
DataProperty==1.0.1
Deprecated==1.2.14
dill==0.3.1.1
dnspython==2.6.1
docopt==0.6.2
docstring_parser==0.16
Farama-Notifications==0.0.4
fastavro==1.9.4
fasteners==0.19
flatbuffers==1.12
fonttools==4.51.0
fsspec==2024.3.1
gast==0.4.0
google-api-core==2.18.0
google-api-python-client==1.12.11
google-apitools==0.5.31
google-auth==2.29.0
google-auth-httplib2==0.1.1
google-cloud-aiplatform==1.47.0
google-cloud-bigquery==3.20.1
google-cloud-bigquery-storage==2.24.0
google-cloud-bigtable==2.23.1
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-dlp==3.16.0
google-cloud-language==2.13.3
google-cloud-pubsub==2.21.1
google-cloud-pubsublite==1.10.0
google-cloud-recommendations-ai==0.10.10
google-cloud-resource-manager==1.12.3
google-cloud-spanner==3.44.0
google-cloud-storage==2.16.0
google-cloud-videointelligence==2.13.3
google-cloud-vision==3.7.2
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpc-interceptor==0.15.4
grpcio==1.62.1
grpcio-status==1.48.2
gym==0.25.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.11.0
hdfs==2.7.3
httplib2==0.22.0
huggingface-hub==0.22.2
huggingface-sb3==3.0
Js2Py==0.74
jsonpickle==3.0.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==2.9.0
kiwisolver==1.4.5
libclang==18.1.1
Mako==1.3.3
markdown-it-py==3.0.0
matplotlib==3.8.4
mbstrdecoder==1.1.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
oauth2client==4.1.3
objsize==0.7.0
optree==0.11.0
optuna==3.6.1
orjson==3.10.1
overrides==7.7.0
pandas==1.5.3
pathvalidate==3.2.0
proto-plus==1.23.0
protobuf==3.19.6
pyarrow==10.0.1
pyarrow-hotfix==0.6
pyasn1-modules==0.2.8
pydantic==2.7.0
pydantic_core==2.18.1
pydot==1.4.2
pygame==2.5.2
pyjsparser==2.7.1
pymongo==4.6.3
pyparsing==3.1.2
pytablewriter==1.2.0
pytz==2024.1
pywin32==305.1
referencing==0.34.0
regex==2024.4.16
requests-oauthlib==1.3.0
rich==13.7.1
rl_zoo3==2.3.0
rpds-py==0.18.0
rsa==4.7.2
sb3_contrib==2.3.0
scipy==1.7.3
shapely==2.0.4
Shimmy==1.3.0
SQLAlchemy==2.0.29
sqlparse==0.5.0
stable_baselines3==2.3.0
tabledata==1.3.3
tcolorpy==0.1.4
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorflow==2.9.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.14.0
tensorflow-serving-api==2.16.1
tfx-bsl==1.14.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.2
typepy==1.3.2
tzdata==2024.1
tzlocal==5.2
uritemplate==3.0.1
wasabi==1.1.2
zstandard==0.22.0
pillow
